<h1> <%= @course.title %> </h1>

<h2> <%= link_to "Course Overview", edit_course_path(@course)  %> </h2>
<strong> Duration: </strong> <%= pluralize(@course.duration, "day")%> <br>	 

<strong>Textbook: </strong> 
	<% @course.textbooks.each do |textbook|%>
		<i><%= link_to textbook.title, "#" %></i>
	<% end %> <br>


<strong>Summary: </strong> <%= @course.summary %><br>

<strong>Total Course Cost </strong> : 
<%= number_to_currency(@course.cost_per_day)%> (Includes course materials) </h4>
      
<h2><%= link_to "Course Objectives", course_objectives_path(@course) %> </h2>

<p>Upon completion of this course the student will gain a sound insight into:</p>
<ol>
	<% @course.objectives.each do |objective|%>
	<li><%= objective.name %></li>
	<%end%>
</ol>